# terraform.tfvars.example

aws_region      = "eu-central-1"
instance_type   = "t2.micro"
key_name        = "epinaka-key"
public_key_path = "~/.ssh/epinaka-key.pub"
ami_id          = "ami-0faab6bdbac9486fb"
